/*Base classes*/

.f-left {
	float: left;
}

.f-rigth {
	float: right;
}

.clear {
	clear: both;
}




/* header */


.wraper-header {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 20;
}


.logo {
	margin-left: 315px;
	margin-right: 150px;
	margin-bottom: 27px;
}


.nav-li {
	margin-top: 48px;
	margin-right: 50px;
	font-family: 'Montserrat';
	text-transform: uppercase;
    font-style: normal;
}


.nav-a {
	color: #181C28;
	font-size: 	16px;
}



/* section 1 -banner-image */


.banner {
   margin-top: 120px;
}


 .pic1 {
	width: 100%;
}	


.text-image {
	position: absolute;
	top: 130px;
    left: 740px;
    color: #FFFFFF;
    font-size: 22px;
    font-family: 'Montserrat';
    font-weight: normal;
}


.h3-image {
	position: absolute;
	font-size: 48px;
	top: 170px;
	left: 790px;
	bottom: 235px;
	color: #FFFFFF;
	font-family: 'Roboto';
}


.image-wraper {
	position: relative;
}




/* section - line 1-2 */


.container1 {
	width: 1331px;	
	margin: 0 auto;
}

.box-1 {
	width: 636px;
	
}

.box-2 {
	width: 636px;
	margin-left: 38px;

}	

.text-h4 {
	margin-top: 75px;
	margin-bottom: 85px;
	font-size: 22px;
	color: #FF7A00;
	font-family: 'Montserrat';
    font-weight: 500;
    text-transform: capitalize;
}



.img-box1 {
	margin-bottom: 30px;
	float: left;
}

.img-box2 {
	margin-bottom: 30px;
	margin-left: 40px;
	float: right;
}




.text-box1,
.text-box2 {
	width: 636px;
}


.text-h2 {
	width: 563px;
	color: #181C28;
	font-size: 36px;
	font-family: 'Roboto';
	font-weight: bold;
	margin-bottom: 37px;
}



.text-paragraph1,
.text-paragraph2 {
	width: 636px;
	font-size: 16px;
	color: #7B7B7B;
	float: left;
	margin-bottom: 37px;
	font-family: 'Montserrat';
	font-style: normal;	
}



.text-p {
	color: #FF7A00;
	margin-top: 41px;
	margin-bottom: 59px;
    font-size: 14px;
    font-family: 'Montserrat';
    font-weight: 500;
    text-transform: uppercase;
}




.text-p::after {
	content: ' ';
	width: 47px;
	height: 4px;
	background-color: #FF7A00;
	display: inline-block;
	margin-left: 15px;
}




/* button- load more */

.click {
	position: relative;

}
 
.button-box {
	width: 190px;
	height: 70px;
	margin: 0 auto;
	position: absolute;
    background-color: #FF7A00;
    top: 252%;
    left: 40%;
}

.button {
	position: absolute;
	margin: 0 auto;
	top: 25px;
	left: 42.5%;
	color: #FFFFFF;
	font-size: 16px;
	font-family: 'Montserrat';
	font-style: normal;
}




/*wraper-box  */

.wraper-box {
	height: 266px;
	width: 100%;
	background-color: #181C28;
	margin-top: 135px;
	margin-bottom: 80px;
}





/* footer - section 1*/

.box3 {
	float: left;
	width: 88px;
	margin-right: 190px;
	
}


.footer-h3 {
	color: #282828;
	float: left;
	margin-bottom: 20px;
	font-size: 24px;
	font-family: 'Roboto';
	font-weight: bold;
	text-transform: uppercase;
}

.nav-ft {
	width: 124px;
	
	margin-bottom: 23px;
    font-family: 'Montserrat';
	text-transform: capitalize;
	font-style: normal;
}


.ft-a {
	color: #7B7B7B;
	font-size: 16px;
}



/* footer - section 2 -3 */


.box4 {
   	float: left;
	width: 111px;
}


.box5 {
	float: left;
	margin-left: 232px;
	width: 231px;
}




/* footer - section 4*/

.box6 {
	
	margin-left: 200px;	
	float: left;
}



.icon1 {
	vertical-align: top;
	margin-right: 11.5px;
	margin-left: 30px;
	margin-top: 13px;
}


.icon2 {	
	vertical-align: top;
	margin-right: 11.5px;
	margin-top: 24px;
}


.icon3 {
    vertical-align: top;
	margin-top: 24px;
}



/* copyright */


.container3 {
   width: 291px;
   margin-right: 410px;
}



.copyright {
	padding-right: 142px;
	color: #A4A4A4;
	font-size: 16px;
	font-family: 'Montserrat';
	font-weight: normal;  
} 




